@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

/* 
    font-family: 'Caprasimo', cursive;
    font-family: 'Josefin Sans', sans-serif;
*/

*,
a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

.site {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* ********************* 
    TOPO
*************************/

.topoContato {
    background: #34495e;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div ul {
    display: flex;
}

header div a {
    text-decoration: none;
    color: #ffffff;
}

header div a:nth-child(2) {
    margin-left: -15%;
}

.topoRedeSocial li a {
    background: url(../img/iconSocial.png) no-repeat;
    padding: 12px 20px;
    display: block;
    /*  */
    text-indent: -9999px;
    /*  */
    margin: 9px 10px 9px 0;
}

.topoRedeSocial li:nth-child(1) a {
    background: url(../img/icones/iconeFacebook.svg) no-repeat;
}

.topoRedeSocial li:nth-child(2) a {
    background: url(../img/icones/iconeInstagram.svg) no-repeat;
}

.topoRedeSocial li:nth-child(3) a {
    background: url(../img/icones/iconeWhatsVerde.svg) no-repeat;
}

.topoRedeSocial li:last-child a {
    margin-right: 0px;
}

/* Inicio do TOPO 02 */
header div:nth-child(2) {
    padding: 0.5% 0;
}

header div h1 {
    background: url(../img/icones/logoVivaBem.svg) no-repeat;
    padding: 10px 90px;
    display: block;
    text-indent: -9999px;
}


.menu {
    display: flex;
    justify-content: space-between;
}

.menu ul {
    margin-left: -20%;
}

.menu ul li {
    padding: 10px 0;
}

.menu a {
    color: #34495e;
    text-transform: uppercase;
    font-size: 1.5em;
    display: block;
    margin: 0 15px;
    font-family: 'Caprasimo', cursive;
}

.menu a:hover {
    color: #48c9b0;
}

.ativo {
    color: #48c9b0 !important;
}

.subMenu ul {
    display: none;
}

.subMenu:hover ul {
    z-index: 1;
    display: block;
    position: absolute;
    margin-left: 15px;
    background: rgba(204, 204, 204, 0.8);
    border-radius: 0px 10px 0px 10px;
}

.subMenu ul li a {
    color: #34495e;
    text-transform: capitalize;
    font-size: 1.2em;
}

.menu .btnlogin {
    background: url(../img/btnLogin.png) no-repeat;
    background-size: cover;
    text-indent: -9999px;
    border: 0;
    padding: 21px 28px;
    width: 37%;
}

/* MENU FIXO */
.menufixo{
    position: fixed;
    z-index: 9999;
    margin: 0 auto;
    width: 100%;
    top: 0;
    background: rgba(255, 255, 255, 0.8);
    animation: fadeIn 2s ease-in-out;
}

.menufixo .topoContato{
    display: none;
}



/* ############### Banner ############################### */
.banner img {
    width: 100%;
}

.banner .slick-next {
    right: 40px;
}

.banner .slick-prev:before,
.banner .slick-next:before {
    font-size: 40px;
    color: #f1c40f;
}

.banner .slick-prev {
    left: 40px;
    z-index: 1;
}

.banner .slick-dots {
    bottom: 25px;
}

.banner .slick-dots li {
    margin: 0 20px;
}

.slick-dots li button:before {
    font-size: 40px;
    color: #f1c40f;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #48c9b0;
}

/* ############### contSobre da Pagina Home ################# */

.contSobre {
    padding: 50px 0;
    text-align: center;
}

.contSobre h2 {
    color: #34495e;
    text-transform: uppercase;
    font-size: 1.8em;
    font-family: 'Caprasimo', cursive;
    margin-bottom: 20px;
}

.contSobre div div {
    display: flex;
    justify-content: space-around;
}

.contSobre div div div {
    width: 48%;
    padding: 0 25px;
}

.contSobre img {
    width: 100%;
    border-radius: 50px 0px 0px 50px;
}

.contSobre div div div:nth-child(1) {
    padding-left: 25px;
}

.contSobre div div div:nth-child(2) {
    flex-direction: column;
    padding-right: 25px;
    justify-content: space-between;
    background: #48c9b0;
    border-radius: 0px 50px 50px 0px;
}

.contSobre p {
    text-align: justify;
    color: #34495e;
    font-size: 1.2em;
    line-height: 1.8em;
    text-indent: 2em;
    margin-top: 3%;
}

.contSobre button {
    align-self: flex-end;
    padding: 20px 50px;
    border-radius: 10px;
    border: none;
    font-size: 1.2em;
    margin-bottom: 25px;
    cursor: pointer;
}

.contSobre button:hover {
    background: #f1c40f;
    color: #34495e;
}

/* ############### Serviçoo da Pagina Home ################# */

.contServico {
    padding: 50px 0;
    text-align: center;
    background: #34495e;
}

.contServico h2 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.8em;
    font-family: 'Caprasimo', cursive;
    margin-bottom: 20px;
}

.contServico div div {
    display: flex;
    justify-content: space-between;
}

.contServico div div div {
    width: 28%;
    flex-direction: column;
    background: #48c9b0;
    padding: 15px;
}

.contServico h3 {
    color: #34495e;
    font-size: 1.5em;
    font-family: 'Caprasimo', cursive;
    margin-bottom: 10px;
}

.contServico img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.contServico p {
    font-size: 1.2em;
    line-height: 1.2em;
    color: #34495e;
    margin-bottom: 20px;
}

.contServico button {
    align-self: center;
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
}

.contServico button:hover {
    background: #f1c40f;
    color: #34495e;
}

/* ############### Galeria da pagina Home ################ */

.galeria {
    background: #f1c40f;
    padding: 40px 0;
}

.galeria img {
    border-radius: 10px;
    margin: 0 10px;
}

.galeria .slick-track{
    display: flex;
    align-items: center;
}

.galeria .slick-center{
    transform: scale(1.3);
    padding: .5%;
}


.galeria .slick-next {
    right: 40px;
}

.galeria .slick-prev:before,
.galeria .slick-next:before {
    font-size: 40px;
    color: #48c9b0;
}

.galeria .slick-prev {
    left: 40px;
    z-index: 1;
}


/* ############### Equipe da Pagina Home ################# */

.contEquipe {
    padding: 50px 0;
    text-align: center;
    background: #34495e;
}

.contEquipe h2 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.8em;
    font-family: 'Caprasimo', cursive;
    margin-bottom: 20px;
}

.contEquipe div {
    display: flex;
    justify-content: space-between;
}

.contEquipe div div {
    width: 20%;
    flex-direction: column;
    background: #ffffff;
}

.contEquipe ul {
    display: flex;
    justify-content: space-around;
    margin-top: -30px;
    margin-bottom: 20px;
}

.contEquipe li {
    background: #f1c40f;
    padding: 1.5%;
}

.contEquipe li:hover {
    background: #48c9b0;
}

.contEquipe li a {
    padding: 20px 20px;
    margin: 2px;
    display: block;
    text-indent: -9999px;
    position: relative;
    top: 15%;
    left: 0%;
}

.contEquipe li:nth-child(1) a {
    background: url(../img/icones/iconeFaceBranco.svg) no-repeat;
    padding: 12px 20px;
    left: 20%;
}

.contEquipe li:nth-child(2) a {
    background: url(../img/icones/iconeInstaBranco.svg) no-repeat;
}

.contEquipe li:nth-child(3) a {
    background: url(../img/icones/iconeLinkedinBranco.svg) no-repeat;
}

.contEquipe li:nth-child(4) a {
    background: url(../img/icones/iconeWhatsBranco.svg) no-repeat;
}


.contEquipe h3 {
    color: #34495e;
    font-size: 1.5em;
    font-family: 'Caprasimo', cursive;
    margin-bottom: 10px;
}

.contEquipe h4 {
    color: #34495e;
    font-size: 1.2em;
    font-family: 'Caprasimo', cursive;
    margin-bottom: 10px;
}

.contServico img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}


/* ########################### DESTAQUE ##################### */

.destaque {
    padding: 50px 0;
    background: url(../img/fundoDestaque.png);
    text-align: center;
}

.destaque div {
    background: url(../img/destaque.png);
    padding: 165px 0;
}

.destaque a {
    display: block;
}

.destaque img {
    width: 5%;
}


/* ########################### RODAPE ##################### */

.rodape {
    text-align: center;
    
}

.rodape section:nth-child(1) {
    padding: 50px 0;
    background: #ffffff;
}

.rodape section div {
    display: flex;
    justify-content: space-around;
}

.rodape section div div {
    flex-direction: column;
    width: 50%;
}

/* INFO ACADEMIA */
.infoAcademia img {
    width: 40%;
    margin: 0 auto;
}

.infoAcademia ul {
    display: flex;
    justify-content: center;
    margin: 5% 0;
}

.infoAcademia li {
    margin: 0 2%;
}

.infoAcademia ul li a {
    display: block;
    width: 70px;
}

.infoAcademia ul li a img {
    width: 100%;
}

.infoAcademia a {
    color: #34495e;
    text-decoration: none;
    margin-bottom: 3%;
    font-size: 1.5em;
}

.infoAcademia table {
    width: 80%;
    margin: 0 auto;
    font-size: 1.5em;
    color: #34495e;
}

.infoAcademia table tr td {
    padding: 2% 0;
}

.infoAcademia table tr td:nth-child(1) {
    width: 50%;
    vertical-align: middle;
}

/* POLITICA */

.politicas h2 {
    font-size: 2.5em;
    font-weight: bold;
    color: #34495e;
    font-family: 'Caprasimo', cursive;
}

.politicas p {
    text-align: justify;
    text-indent: 1.8em;
    color: #34495e;
    font-size: 1.2em;
    width: 75%;
    font-weight: 600;
    margin: 2% auto;
    line-height: 1.2em;
}

.politicas h3 {
    color: #34495e;
    margin: 2%;
    font-weight: 600;
    font-size: 1.8em;
}

.rodape section:nth-child(2) {
    background: #48c9b0;
}

.rodape section:nth-child(3) {
    background: #34495e;
}

.rodape section:nth-child(2) h2 {
    color: #000000;
    padding: 15px 0;
}

.rodape section:nth-child(3) h2 {
    color: #ffffff;
    padding: 15px 0;
}

/* ########################### Sobre ##################### */
#sobre {
    padding: 50px 0;
    text-align: center;
}

#sobre h2 {
    color: #34495e;
    text-transform: uppercase;
    font-size: 1.8em;
    font-family: 'Caprasimo', cursive;
    margin-bottom: 20px;
}

#sobre div div {
    display: flex;
    justify-content: space-around;
}

#sobre div div div {
    width: 48%;
    padding: 0 25px;
}

#sobre img {
    width: 100%;
    border-radius: 50px 0px 0px 50px;
    margin-right: 50px;
}

#sobre div div div:nth-child(1) {
    padding-left: 25px;
}

#sobre div div div:nth-child(2) {
    flex-direction: column;
    padding-right: 25px;
    justify-content: space-between;
    background: #48c9b0;
    border-radius: 0px 50px 50px 0px;
}

#sobre p {
    text-align: justify;
    color: #34495e;
    font-size: 1.2em;
    line-height: 1.8em;
    text-indent: 2em;
    margin-top: 3%;
}

/* ########################### missao ##################### */
.missao {
padding: 50px 0;
    text-align: center;
}

.missao div div {
    display: flex;
    justify-content: space-between;
}

.missao div div div {
    width: 48%;
    padding: 0 25px;
}

.missao img {
    width: 100%;
    border-radius: 0px 50px 50px 0px;

}

.missao div div div:nth-child(1) {
    width: 43%;
    flex-direction: column;
    padding: 13px;
    justify-content: space-between;
    background: #48c9b0;
    border-radius: 50px 0px 0px 50px
}

.missao div div div:nth-child(2) {
    padding-left: 25px;
    
}

.missao p {
    text-align:start;
    color: #34495e;
    font-size: 1.2em;
    line-height: 1.5em;
    text-indent: 1.4em;
    margin-top: 3%;
}


/* ########################### visao ##################### */
.visao {
    padding: 50px 0;
        text-align: center;
    }

.visao div div {
    display: flex;
    justify-content: space-between;
}

.visao div div div {
    width: 48%;
   justify-content: space-around;
}

.visao div div div:nth-child(2) {
    width: 48%;
    background: #f1c40f;
}

.visao img {
    
    width: 100%;
    border-radius: 50px 0px 0px 50px;
    margin-left: -100px;
}

.visao div div div:nth-child(1) {
    padding-left: 25px;
}

.visao div div div:nth-child(2) {
    flex-direction: column;
    padding-right: 25px;
    justify-content: space-between;
    background: #48c9b0;
    border-radius: 0px 50px 50px 0px;
}

.visao p {
    text-align: justify;
    color: #34495e;
    font-size: 1.2em;
    line-height: 1.5em;
    text-indent: 2em;
    margin-top: 3%;
    padding: 12px;

}
/* ########################### Valores ##################### */
.valores {
     padding: 50px 0;
     text-align: center;
        
}

.valores div div {
    display: flex;
    justify-content: space-between;
}

.valores div div div {
    width: 48%;
    padding: 0 25px;
}

.valores img {
    width: 100%;
    border-radius: 0px 50px 50px 0px;
   
}

.valores div div div:nth-child(1) {
    width: 43%;
    flex-direction: column;
    padding-right: 25px;
    justify-content: space-between;
    background: #48c9b0;
    border-radius: 50px 0px 0px 50px

}

.valores div div div:nth-child(2) {
    padding-left: 25px;
}

.valores p {
    text-align: justify;
    color: #34495e;
    font-size: 1.2em;
    line-height: 1.5em;
    text-indent: 2em;
    margin-top: 3%;
}

/* ########################### Pagina Contato ##################### */


.contato {
    padding: 50px 0;
    text-align: center;
}

.contato h2 {
    text-transform: uppercase;
    color: #34495e;
    font-size: 1.8em;
    font-family: 'Caprasimo', cursive;
    margin-bottom: 20px;
}

.contato h4{
    margin-bottom: 2%;
    font-size: 1.5em;
    color: #34495e;
}

.contato form{
    display: flex;
    background: #48c9b0;
    border-radius: 50px;
    justify-content: space-around;
    padding: 4% 1.5%;
}

.contato form div{
    width: 45%;
}

.contato form div div{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.contato form label{
    color: #34495e;
    font-size: 1.8em;
    margin-bottom: 2%;
}

.contato form input, 
.contato form textarea{
    color: #34495e;
    border: solid 1px #34495e;
    padding: 0.5em;
    margin-bottom: 4%;
}

.contato form textarea{
    resize: none;
    height: 151px;
}

.btnContato{
    justify-content: space-around;
    flex-direction: row!important;
}

.contato form input[type="submit"],
.contato form input[type="button"]{
    background: #f1c40f;
    width: 40%;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

.contato form input[type="submit"]:hover,
.contato form input[type="button"]:hover{
    background: #34495e;
    color: #f1c40f;
}

/* modal do meu login */


.modal {
    text-align: center;
}


.btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
   
}

.fs-5 {
    color: #f1c40f;
    font-size: 2.15rem!important;
    -webkit-text-stroke: 1px black; /* Adiciona uma borda preta ao texto para navegadores baseados em Webkit (como Chrome e Safari) */
    text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black; /* Adiciona uma borda preta ao texto para outros navegadores */
}
.modal-content{ 
   background:#34495e;
}
.modal-header{
    background: #48c9b0;
    width: 100%;   
    display: flex;  
    flex-direction: column;    
    border: 0;
    margin-bottom: 30px;
}
.col-form-label{
    color:#f1c40f;
}


  .login-usuario-form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .labelsen{
    margin-right: 10px;
    color:#f1c40f;
  }
  