@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

/* 
    font-family: 'Caprasimo', cursive;
    font-family: 'Josefin Sans', sans-serif;
*/

*,
a,
h1,
h2,
h3,
h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;

}

.topo {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    align-items: center;
}

.topo h1 {
    text-align: center;
    width: 15%;
}

.topo h1 img {
    width: 70%;
}

.topo h2 {
    font-size: 1.8em;
    text-transform: uppercase;
    color: #23475f;
    font-weight: bold;
}

.topo div {
    display: flex;
    align-items: center;
    width: 15%;
}

.topo div img {
    width: 20%;
}

.topo div h2 {
    margin-left: 5%;
    font-size: 1.2em;
}

main {
    flex: 1;
    display: flex;

}


.menu {
    background-color: #23475f;
    
   
    text-align: center;
    display: flex;

}


.menu nav {
    margin-top: 15%;
}



.menu nav ul li {
    padding: 4% 0;
}

.menu nav ul li a {
    text-decoration: none;
    color: #00cab0;
    font-size: 1.8em;
    text-transform: uppercase;
    padding: 4% 10px;
}

.menu nav ul li a:hover {
    color: #ffc500;
    border-top: solid 1px #ffc500;
}

.menuAtivo {
    color: #ffc500 !important;
    border-top: solid 1px #ffc500;
}

.box {
    margin: 0 100px;
}


.rodape {
    text-align: center;
    width: 1920px;



}

.rodape h2 {
    font-size: .8em;

}

.rodape h2:nth-child(1) {
    background: #00cab0;
    padding: .5% 0;
    color: #23475f;
    margin-bottom: 0;

}

.rodape h2:nth-child(2) {
    background: #23475f;
    padding: .5% 0;
    color: #fff;
    margin-bottom: 0;
}



/* ##### Formulario Exercicio Lista ###### */
.fotoexer{
    width: 100%;
}
.fotoexer img {
    max-width: 300px;
    max-height: 320px;
    object-fit: cover;
}
td, th {
    text-align: center;
    
}

th {
    font-size: 1.0em;
    font-weight: bold;
}



/* ##### Formulario Contato Lista ###### */


.thcontato{
    font: 1.0em Arial;
    font-weight: bold;
    
}

.tdcontato {
    font: 1.3em Helvetica;
    font-weight: bold;
    
}

/* ##### Formulario Aluno Lista ###### */
.fotoalunos{
    width: 100%;
    
}
.fotoalunos img {
    max-width: 300px;
    max-height: 320px;
    object-fit: cover;
}

/*##### Formulario Aluno Cadastro #######*/

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: #23475f;
    width: 1000px;

    padding: 15px 50px;
    color: #ffc500;
}

.inputaluno {
    padding: 0px;
    width: 100%;
    border-radius: 5px 5px;
}

.inputdata {
    width: 20%;
    border-radius: 5px 5px;

}

.upload {
    display: flex;
    justify-content: center;
    padding: 30px 30px;
}

.labelaluno {
    display: flex;
    flex-direction: column;
    padding: 0px;
    font-size: 1.2em;

}

.img-aluno {
    max-width: 300px;
    max-height: 320px;

}

.img-upload {
    width: 100%;
}

.inputsenha {
    width: 24%;
    border-radius: 5px 5px;
}

.selecaoaluno {
    padding: 0 auto;
    margin-top: -30px;


}

.h1aluno {
    text-align: center;
    color: #23475f;
    font-size: 1.5em;
    background: #00cab0;
    margin: 0;
    padding: 15px;

}


/* Formulario lista de Funcionários */



.fotofunc {
    width: 100%;
    height: 100%;
}

.fotofunc img {
    width: 300px;
    height: 320px;
    object-fit: cover;
}





/* Formulario de Cadastro e de Atualização Funcionários */
.h1func{
    text-align: center;
    background: #ffc500;
    margin-bottom: 0;
    
}

.img-func {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.img-func img {
    max-width: 300px;
    max-height: 320px;
}

.formfunc {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
}

.inputfunc {
    width: 100%;
}

.inputdatafunc {
    width: 18%;
}
.inputdatafuncAdmis{
    width: 50%;
}

.direita {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}